@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Baloo 2", cursive;
  color: #ededed;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: #1e003a;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a45cff;
}

li,
a,
p {
  font-size: 23px;
  text-decoration: none;
}

footer span {
  color: #a45cff;
  font-weight: bold;
}

header {
  z-index: 100;
  background: rgba(30, 0, 58, 0.8);
  width: 100%;
  position: fixed;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 10px;
  position: relative;
}

.logo {
  cursor: pointer;
  color: #a45cff;
  font-size: 35px;
  font-family: "Bungee", cursive;
}

#home {
  background: #1e003a;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.botao-scroll {
  position: absolute;
  bottom: 6rem;
  z-index: 11;
}

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #a45cff;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

#sobre {
  background: #32005c;
}

.conteudo-sobre {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 66px;
  background-color: #32005c;
  padding: 8% 10%;
}

.background-foto {
  position: relative;
  width: 100%;
  height: 100%;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sobre-mim {
  text-align: justify;
}

.efeito {
  width: 100%;
}

.eu {
  width: 50%;
}

.container-foto {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.conteudo-sobre .botoes-sobre-mim {
  display: flex;
  align-content: center;
  gap: 25px;
  margin-top: 35px;
}

.conteudo-sobre .botoes-sobre-mim a {
  font-size: 1.2rem;
  background: #a45cff;
  border-radius: 30px;
  padding: 8px 40px;
  align-items: center;
  justify-content: space-around;
  display: flex;
  gap: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
}

.conteudo-sobre .botoes-sobre-mim a img {
  width: 15%;
}

.conteudo-sobre .sobre-mim p {
  font-size: clamp(1rem, 6vw, 1.4rem);
  line-height: 1.3;
}

#skills {
  background: #1e003a;
}

.conteudo-skills {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8% 10%;
  gap: 40px;
}

.conteudo-skills #imagem-icons{
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 20px;
}

.conteudo-skills #imagem-icons div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.skills-text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.skills-icons #html{
  background-image: url(../assets/html.svg);
}

.skills-icons #html:hover{
  background-image: url(../assets/html-colorido.svg);
}

.skills-icons #css{
  background-image: url(../assets/css.svg);
}

.skills-icons #css:hover{
  background-image: url(../assets/css-colorido.svg);
}

.skills-icons #js{
  background-image: url(../assets/js.svg);
}

.skills-icons #js:hover{
  background-image: url(../assets/js-colorido.svg);
}

.skills-icons #java{
  background-image: url(../assets/java.svg);
}

.skills-icons #java:hover{
  background-image: url(../assets/java-colorido.svg);
}

.skills-icons #mysql{
  background-image: url(../assets/mysql.svg);
}

.skills-icons #mysql:hover{
  background-image: url(../assets/mysql-colorido.svg);
}

.skills-icons #git{
  background-image: url(../assets/git.svg);
}

.skills-icons #git:hover{
  background-image: url(../assets/git-colorido.svg);
}

.icons {
  width: 100px;
  height: 100px;
  background: #A45CFF;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.icons:hover {
  scale: 1.1;
  background: #ededed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  transition: .3s;
}

#instrucao{
  text-transform: uppercase;
  color: #A45CFF;
}

.hide {
  display: none;
}

.barra-borda {
  border-radius: 10px;
  background: #ededed;
  width: 100%;
  height: 15px;
}

.barra-progresso {
  border-radius: 10px;
  background: #A45CFF;
  width: 80%;
  height: 100%;
}

.container-barra {
  width: 80%;
}


#projetos {
  background: #32005c;
  height: 50vh;
}

.titulo {
  font-size: clamp(1rem, 9vw, 2.4rem);
}

footer {
  width: 100%;
  background: #1e003a;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-flex .icons-social {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

.detalhe-footer {
  height: 15px;
  background: #a45cff;
}

.apresentacao {
  z-index: 10;
}

.conteudo-home .apresentacao p {
  font-size: clamp(1rem, 7.2vw, 2.43rem);
  line-height: 1.1;
}

.conteudo-home .apresentacao p:nth-child(2) {
  font-size: clamp(1rem, 14.2vw, 4.8rem);
  color: #a45cff;
}

.conteudo-home .botoes #projetos-button {
  font-size: 1.2rem;
  background: #a45cff;
  border-radius: 30px;
  padding: 13px 48px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
}

.conteudo-home .botoes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.conteudo-home .botoes-sociais {
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#home #detalhe-direto-home {
  position: absolute;
  bottom: -20px;
  right: 0;
  width: 22%;
}

#home #detalhe-inferior-home {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 50%;
}

#home #detalhe-superior-home {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
}

.imagem-person {
  z-index: 10;
}

.imagem img {
  max-width: 100%;
}

.efeito {
  filter: blur(9px);
  -webkit-animation: pulsing 3s infinite;
  animation: pulsing 3s infinite;
}

.conteudo-home {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

[data-menu="button"] {
  display: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  transition: 0.3s;
}

.navbar {
  padding: 18px 40px;
}

nav ul {
  display: flex;
  gap: 100px;
}

nav ul li {
  list-style: none;
}

nav ul li::after {
  content: "";
  display: block;
  border-bottom: 4px solid #a45cff;
  margin-top: 5px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

nav ul li:hover::after {
  transform: scaleX(1);
}

@media screen and (max-width: 1350px) {
  .sobre-mim {
    width: 50%;
  }
  .conteudo-sobre .botoes-sobre-mim {
    display: flex;
    justify-content: space-around;
  }
  .conteudo-sobre .botoes-sobre-mim {
    justify-content: space-around;
  }
}

@media screen and (max-width: 1024px) {
  .conteudo-sobre {
    display: block;
    padding: 20% 10% 10% 10%;
  }

  nav ul li {
    margin: 10px 30px;
    font-size: clamp(1rem, 5vw, 1.4rem);

  }

  .sobre-mim {
    padding-top: 20%;
    width: 100%;
  }

  .imagem-person img {
    display: none;
  }

  #home .conteudo-home {
    justify-content: center;
  }

  .conteudo-skills #imagem-icons div{
    flex-direction: column;
  }

  .conteudo-skills #imagem-icons {
    width: 220px;
  }

  nav {
    padding: 0 5% !important;
  }

  [data-menu="button"] {
    display: block;
    background-color: #1e003a;
    border: none;
    border-top: 3px #a45cff solid;
    padding: 0.8rem 1rem;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    z-index: 100;
  }

  [data-menu="button"]::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #a45cff;
    transition: 0.3s transform;
  }

  [data-menu="button"]::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 50%;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #a45cff;
    transition: 0.3s transform;
  }

  [data-menu="list"] {
    display: none;
    position: absolute;
    top: 0;
    right: 1%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    background-color: #1e003a;
    padding: 82px 0 10px;
    z-index: 50;
    margin: 0;
    font-family: "Inter", sans-serif;
  }

  [data-menu="list"].active {
    display: block;
    animation: show-down 0.3s forwards;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  
.conteudo-skills {
  padding: 20% 10%;
}
}

@media (max-width: 600px) {
  .conteudo-home{
    padding: 10px 10%;
  }
  .conteudo-sobre {
    display: block;
    padding: 20% 10%;
  }

  .conteudo-sobre .botoes-sobre-mim {
    flex-direction: column;
  }

  .conteudo-home .botoes {
    flex-direction: column;
  }

  .conteudo-home .botoes #projetos-button {
    font-size: clamp(1rem, 5vw, 1.4rem);
    padding: 8px 33%;
  }

  .conteudo-home .botoes-sociais {
    justify-content: space-between;
    width: 100%;
  }

  #home #detalhe-rh-inferior {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 80%;
  }

  #detalhe-rh-superior {
    position: absolute;
    top: 0px;
    right: -10px;
    width: 80%;
  }

  #home #detalhe-direto-home {
    display: none;
  }

  #home #detalhe-inferior-home {
    display: none;
  }

  #home #detalhe-superior-home {
    display: none;
  }

  .conteudo-sobre .botoes-sobre-mim a {
    font-size: clamp(1rem, 5vw, 1.4rem);
    padding: 8px 40px;
    gap: 10px;
    justify-content: center;
    height: 30px;
  }

  .conteudo-sobre .botoes-sobre-mim a img {
    width: 10%;
  }

  .icons {
    width: 80px;
    height: 80px;
}

.conteudo-skills {
  flex-direction: column;
}

.conteudo-skills #imagem-icons {
  width: auto;
}
}